<h1>All Authors <span class="count">(<%= Author.count %>)</span> </h1> 

<button>New Author</button>

<table class="striped highlight responsive-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>No. of Books</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% for author in @authors %>
        <tr>
            <td><%= author.first_name %></td>
            <td><%= author.last_name %></td>
            <td><%= Book.where(author_id: author.id).count %></td>
            <td>delete</td>
        </tr>
        <% end %>
    </tbody>
</table>