<h1>Pokedex</h1>

<form action="/" method="POST">
    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token%>">
    <label>earch Pokemon</label>
    <input type="text" name="pokemon_name">
    <input type="submit" value="Submit">
</form>