<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="books.html">Books</a></li>
            <li><a href="authors.html">Authors</a></li>
        </ul>
    </div>
</nav>